body, html{
  height: 100%;
  background-color: beige;
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
}
.milf{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('img.jpg');
  background-size: cover;
  height:100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
}

.main1{
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.main1 i{
  font-size: 20px;
  font-family: 'Yellowtail';
  color: white;
}
.main1 p{
  font-size: 70px;
  color: white;
  font-family: "Pacifico",'cursive';
}


.work{
  width: 100%;
  text-align: center;
  background-color: beige;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
  margin-top: 10px;
}
.work h1{
  color: #3498DB;
}
.work p{
  line-height: 30px;
  font-size: 25px;
  color: #99A3A4;
}

#work1{
  background-color: beige;
  font-family: 'Ubuntu', sans-serif;
}
#work1 p{
  color: #99A3A4;
  font-size: 25px;
}
#work1 h1{
  color: #3498DB;
  font-weight: 500;
}
#work2 h2{
  font-size: 50px;
  /*color: #038E5B;*/
  color: #2B8363;
  /*color: #2FB282;*/
}

#about{
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)),url("about.jpg");
  background-size: cover;
  height: 100%;
  line-height: 50px;
  color: white;
  background-attachment: fixed;
  text-align: center;
  margin-top: 20px;
}

.im1{
  height:300px;
}

#contact{
  text-align: center;
  font-family: "Trebuchet MS";
  padding-top:50px;
  padding-bottom: 50px;
}
#contact img{
  width: 100px;
  height: 100px;
}

#contact{
  margin-bottom: 50px;
  margin-top: 100px;
}
